body {
    background: lightskyblue;
}

.title {
    font: bold;
    color: coral
}
.mainwriting {
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px #d4e0a6;
  margin: 0;
  background: #d4e0a6;
}